<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On    
    RewriteRule "^.well-known/acme-challenge" - [L]
    RedirectMatch ^/app(.*)$ http://app.arqplann.com.br$1
    RedirectMatch ^/dev(.*)$ http://dev.arqplann.com.br$1
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>